body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(215, 226, 166);
  align-content: center;
}

.container {
  position: relative;
  border: 3px solid rgb(241, 83, 149);
  border-radius: 5px;
  width: 600px;
  margin: auto;
  background-color: #f06bb4;
  padding: 20px 0 30px 0;
  text-align: center;
}
#password-meter {
  width: 50%;
  margin: auto;
}
input,
.btn {
  width: 50%;
  padding: 12px;
  border: 2px solid rgb(64, 35, 92);
  border-radius: 4px;
  margin: auto;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}
input:focus {
  background-color: rgb(146, 227, 241);
}
button a {
  text-decoration: none;
  color: white;
}
button a:hover {
  color: white;
}
button[type="submit"] {
  background-color: #4caf50;
  color: white;
  width: 50%;
  padding: 12px;
  border: 2px solid rgb(64, 35, 92);
  border-radius: 4px;
  margin: auto;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}
button[type="submit"]:hover {
  background-color: #45a049;
}
h1 {
  margin-left: 30px;
}
p {
  text-align: center;
}
